.register_wizard_userDetails {
  margin: 50px 0;
    padding: 0 30px;
    margin-top: 30px; 
  font-family: 'Gotham SSm', sans-serif; }

.register_wizard_userDetails input {
    border-radius: 0px;
    height: 35px; }