<div class="register">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="register_wizard">
        <div class="register_wizard-stepper">
            <wizard-stepper [steps]='steps' [activeStep]='activeStep'></wizard-stepper>
        </div>

        <div class="register_wizard-content">
          <router-outlet></router-outlet>
        </div>

        <div class="register_wizard-actions .btn-toolbar">
          <button class="btn btn_confirm pull-right" [disabled]="!isFormValid()"  (click)="Confirm()">Confirm</button>
          <button class="btn pull-right" [disabled]="!isCurrentStepValid() || activeStep.nextStep == null" (click)="Next()">Next</button>        
          <button class="btn pull-right" [disabled]="activeStep.previousStep == null" (click)="Previous()">Previous</button>
        </div>
    </div>
    <div class="signin_link">
      <span>Do you already have an account? <b class="signin__registerInstruction"><a [routerLink]="['/account/signin']">Sign In!</a></b></span>           
    </div>
  </div>
</div>


