<div class="register_wizard_companyDetails">
    <form [formGroup]="companyInfoForm">
        <div class="form-group"
        [ngClass]="{'has-error': companyNameErrorMessage}">
            <input type="text"
                [(ngModel)]="companyInfo.name"
                (ngModelChange)="ngOnChanges($event)"
                formControlName="name"
                class="form-control" placeholder="Company name" />

                <span class="help-block" *ngIf="companyNameErrorMessage">
                    {{companyNameErrorMessage}}
                </span>
        </div>

        <div class="form-group"
            [ngClass]="{'has-error': companyCodeErrorMessage }">
            <input type="text"
                [(ngModel)]="companyInfo.companyCode"
                (ngModelChange)="ngOnChanges($event)"
                formControlName="companyCode"
                class="form-control" placeholder="Company code" />

                <span class="help-block" *ngIf="companyCodeErrorMessage">
                    {{companyCodeErrorMessage}}
                </span>
        </div>

        <div class="form-group"
            [ngClass]="{'has-error': companyPhoneNumberError }">
            <input type="text"
                [(ngModel)]="companyInfo.phoneNumber"
                (ngModelChange)="ngOnChanges($event)"
                formControlName="phoneNumber"
                class="form-control" placeholder="PhoneNumber" />

                <span class="help-block" *ngIf="companyPhoneNumberError">
                    {{companyPhoneNumberError}}
                </span>
        </div>

        <div class="form-group">
            <input type="text"
                [(ngModel)]="companyInfo.website"
                (ngModelChange)="ngOnChanges($event)"
                formControlName="website"
                class="form-control" placeholder="Web site url" />
        </div>
    </form>
</div>