<div class="register_wizard_accountDetails">
    <form [formGroup]="accountDetailsForm">
        
        <div class="form-group" 
            [ngClass]="{'has-error': loginErrorMessage}">
            <input 
                type="text"
                formControlName="login"
                [(ngModel)]="accountDetails.login"
                (ngModelChange)="ngOnChanges($event)"
                class="form-control" 
                placeholder="Login" />
            
            <span class="help-block" *ngIf="loginErrorMessage">
                {{loginErrorMessage}}
            </span>
        </div>
        <div formGroupName="passwordGroup">
            <div class="form-group" 
                [ngClass]="{'has-error': passwordErrorMessage}">

                <input type="password" 
                formControlName="password" 
                [(ngModel)]="accountDetails.password"
                (ngModelChange)="ngOnChanges($event)"
                class="form-control" placeholder="Password" />
                <span class="help-block" *ngIf="passwordErrorMessage">
                    {{passwordErrorMessage}}
                </span>
            </div>

            <div class="form-group" 
                [ngClass]="{'has-error': confirmPasswordErrorMessage}">

                <input type="password" 
                formControlName="confirmPassword" 
                [(ngModel)]="accountDetails.confirmPassword"
                (ngModelChange)="ngOnChanges($event)"
                class="form-control" placeholder="Confirm password" />
                <span class="help-block" *ngIf="confirmPasswordErrorMessage">
                    {{confirmPasswordErrorMessage}}
                </span>
            </div>
        </div>
    </form>
</div>