<div class="signin">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
        <div class="signin__errors__block help-block" *ngIf="backendError">
            <span class="has-error"> 
                {{backendError}}
            </span>
        </div>
        <div class="panel">
            <!--<div class="panel-heading">Se connecter</div>-->
            <div class="panel-body signin-panel">
                <form [formGroup]='signinFormGroup' class="signin__form">
                    <div class="form-group" [ngClass]="{'has-error': loginErrorMessage}">
                        <input type="text"  
                            [(ngModel)] = "login"
                            formControlName = "login"
                            class="form-control" placeholder="E-mail">
                            <span class="help-block" *ngIf="loginErrorMessage">
                                {{loginErrorMessage}}
                            </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': passwordErrorMessage}">
                        <input type="password" 
                            [(ngModel)] = "password" 
                            formControlName="password"
                            class="form-control" placeholder="Password">

                            <span class="help-block" *ngIf="passwordErrorMessage">
                                {{passwordErrorMessage}}
                            </span>
                    </div>
                    <div class="form-group signin__form__connectButton">
                        <button class="btn pull-right" 
                        [disabled]="!signinFormGroup.valid"
                        (click)="signIn()">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="register_link">
            <span>Don't you have an account yet? <b class="signin__registerInstruction"><a [routerLink]="['/account/register']">Register!</a></b></span>           
        </div>
    </div>
</div>