.signin {
  margin: 50px 0;
  font-family: 'Gotham SSm', sans-serif; 
}

.signin .panel {
  border-radius: 0px; 
}
        
.signin .signin__form {
  padding: 0 30px;
  margin-top: 30px;
}

.signin .signin__form input {
  border-radius: 0px;
  height: 40px;
}

.signin .signin__form .signin__form__connectButton button {
  background-color: #5cb85c;
  color: white;
  padding: 8px 30px;
  border-radius: 0px; 
}

.signin .signin__form .signin__form__connectButton button:hover {
  background-color: #5CB805; 
}

.signin .signin__registerInstruction {
  cursor: pointer;
  color: #5CB805;
}

.signin .signin__registerInstruction a {
  text-decoration: none; 
}

.register_link {
  background: white;
  text-align: center;
  padding: 30px 0;
  height: 80px;
  border: 1px solid #e6e6e6;
}

.signin_form {
  border: 1px solid #e6e6e6;
}

.signin-panel {
      border: 1px solid #e6e6e6;
}

.signin__errors__block {
    background: white;
    padding: 10px 10px;
    height: 43px;
    border: 1px solid red;
    color: red;
}